{% extends 'base.html' %}
{% block content %}
<h1>{{Keyword}}</h1>
{% for realtor in realtors %}
<li>
	<a href ="{% url 'viewRealtor' realtor.id %}">
	{{realtor}}</a>
</li>
{% end for %}
{% endblock %}