{% extends 'base.html' %}
{% block content %}

		<h1>LIST OF REALTORS</h1>
	{% for realtors in realtor %}
	<a href ="{% url 'viewRealtor' realtor.id%}">
		<h2> {{ realtor.id }} </h2> </a>
	{% end for %}
{% endblock %}